mixin newProd()
  section.newProd
    .container
      h2.newProd__title Новые продукты
      .newProd__content
        -var i = 1;
        while i < 5
          .newProd__prod.prod
            a.prod__link(href="product.html")
              .prod__photo-block
                +img('product1.png', 'prod__photo')
              p.prod__title Lorem, ipsum dolor.
              p.prod__desc Lorem ipsum dolor sit amet.
              .prod__price
                p.prod__new-price 1340.00 руб.
            a.prod__btn(href="placing-order.html") В корзину
            a.prod__favorites(href="#")
              +svg('heart', '15px', '14px', 'prod__icon')
          -i++
