mixin callback-small()
  section.callback-small
    .container
      .callback-small__text
        h3.callback-small__title Не нашли свой любимый бренд?
        p.callback-small__desc Напишите нам и мы постараемся включить его в ассортимент как можно скорее
      .callback-small__form
        textarea.callback-small__input(name="", rows="1" placeholder="Ваше сообщение...")
        a.callback-small__btn(href="#") Отправить
