.header {
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding: 20px 0;

  @include mobile {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__menu {
    @include tablet {
      display: none;
      position: absolute;
      z-index: 3;
      top: calc(100% + 20px);
      right: -10px;
      width: calc(100% + 20px);
      overflow: auto;
      box-shadow: 0 12px 10px 0.5px rgba(0,0,0,.1);
      &.active {
        display: block;
      }
    }
    @include mobile {
      height: 100vh;
    }
  }
}
