mixin header()
  header.header
    .container
      .header__container
        .header__logo
          a(href="index.html")
            +img('logo.png', 'logo')
        .header__menu
          ul.list.list--header
            li.list__item
              +svg('prod', '20', '20', 'list__icon')
              a.list__link.js-sublist(href="#catalog-list") Каталог
              ul.list__sublist#catalog-list
                li.list__item
                  a.list__link(href="catalog.html") Все товары
                li.list__item
                  a.list__link(href="catalog.html") Sale
                li.list__item
                  a.list__link(href="catalog.html") Волосы
                li.list__item
                  a.list__link(href="catalog.html") Тело
                li.list__item
                  a.list__link(href="catalog.html") Лицо
                li.list__item
                  a.list__link(href="catalog.html") Аксессуары
            li.list__item
              +svg('user', '20', '20', 'list__icon')
              a.list__link(href="cabinet.html") Личный кабинет
            li.list__item
              +svg('help', '20', '20', 'list__icon')
              a.list__link(href="help.html") Помощь
            li.list__item
              +svg('geo', '20', '20', 'list__icon')
              a.list__link(href="contacts.html") Контакты
            li.list__item
              +svg('info', '20', '20', 'list__icon')
              a.list__link(href="aboutUs.html") О нас
            li.list__item.desktop-hidden
              .list__input
                input.list__search(type="text" placeholder="Поиск...")
                +svg('search', '20', '20', 'list__icon')
        .header__icons
          ul.list.list--icons
            li.list__item.desktop-only
              .list__input
                input.list__search(type="text" placeholder="Поиск...")
                +svg('search', '20', '20', 'list__icon')
            li.list__item
              a.list__link.js-openPopup(href="#popup-login")
                +svg('user', '20', '20', 'list__icon')
            li.list__item
              a.list__link.js-openPopup(href="#popup-favorites")
                +svg('heart', '20', '20', 'list__icon')
            li.list__item
              a.list__link.js-dots(href="basket.html")
                +svg('basket', '20', '20', 'list__icon')
                .list__dot 3
            li.list__item.desktop-hidden
              a.burger.list__burger.js-mobMenu(href="#")
                span.burger__line
                span.burger__line
                span.burger__line
  +login
  +favorites
