mixin hero()
	section.hero
		.hero__slider
			.hero__slide
				.hero__bg
					.container.hero__container
						.hero__content
							.hero__title Новый путь к красоте волос
							.hero__desc Профессиональный уход у тебя дома
							a.hero__btn(href="#") Получить консультацию