extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Помощь";
  - const img = './img/'

block content
  +header
  +faq
  +footer


block scripts
  script(src="js/main.js")
