extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Оформление заказа";
  - const img = './img/'

block content
  +header
  +placing-order
  +footer


block scripts
  script(src="js/main.js")
