mixin about()
  section.about
    .about__hero
    .container
      .about__flex
        .about__img-block
          +img('about-img.jpg', 'about__img')
        .about__text-block
          .about__text-header
            p.about__text
              span.about__bold Hair box
              |  - это не просто интернет-магазин, это ваша личная коробочка с секретами и накопленным опытом по уходу за волосами.
            p.about__text Мы давно нашли путь к красоте Ваших волос!
            p.about__text Вам не придется набивать шишки в поиске лучшего ухода и исправлять свои же ошибки. Открой для себя Hair BOX и применяй все, что найдешь внутри!
          .about__text-footer
            p.about__bold Об авторе проекта
            p.about__text Дарина Белова - специалист в уходе за волосами. Более 10 лет работы с профессиональными брендами для волос. Мастер по восстановлению волос. Колорист.
            p.about__text Моя миссия привить культуру об уходе за волосами простым языком.
            p.about__text Проект выросший из блога об уходе за волосами и огромной любви к здоровым локонам!
