mixin navigation()
  section.navigation
    .container
      .navigation__content
        a.navigation__list.navigation__list--all(href="#")
          .navigation__text Все товары
        a.navigation__list.navigation__list--hair(href="#")
          .navigation__text Волосы
        a.navigation__list.navigation__list--body(href="#")
          .navigation__text Тело
        a.navigation__list.navigation__list--sale(href="#")
          .navigation__text Sale
        a.navigation__list.navigation__list--accessories(href="#")
          .navigation__text Аксессуары
        a.navigation__list.navigation__list--face(href="#")
          .navigation__text Лицо