mixin placing-order()
  section.placing-order
    .container
      h2.placing-order__title Оформление заказа
      form.placing-order__flex(action="")
        .placing-order__inputes-block
          label.placing-order__label
            span.placing-order__desc.placing-order__desc--required Имя
            input.placing-order__input(type="text" placeholder='Имя' required)
          label.placing-order__label
            span.placing-order__desc.placing-order__desc--required Фамилия
            input.placing-order__input(type="text" placeholder='Фамилия' required)
          label.placing-order__label
            span.placing-order__desc.placing-order__desc--required E-mail
            input.placing-order__input(type="text" placeholder='E-mail' required)
          label.placing-order__label
            span.placing-order__desc.placing-order__desc--required Город
            input.placing-order__input(type="text" placeholder='Город' required)
          label.placing-order__label
            span.placing-order__desc.placing-order__desc--required Улица
            input.placing-order__input(type="text" placeholder='Улица'  required)
          label.placing-order__label
            span.placing-order__desc.placing-order__desc--required Дом/строение
            input.placing-order__input(type="text" placeholder='Дом/строение'  required)
          label.placing-order__label
            span.placing-order__desc Квартира/офис
            input.placing-order__input(type="text" placeholder='Квартира/офис')
          label.placing-order__label
            span.placing-order__desc.placing-order__desc--required Телефон
            input.placing-order__input(type="text" placeholder='+7 (___) - ___-__-__'  required)

        .placing-order__checkbox-block
          h5.placing-order__subtitle Выберите тип доставки
          label.placing-order__label.placing-order__label--checkbox
            input.checkbox.placing-order__input(type="radio" name="delivery" checked)
            span.checkbox__desc.placing-order__desc Доставка до пункта выдачи
          label.placing-order__label.placing-order__label--checkbox
            input.checkbox.placing-order__input(type="radio" name="delivery")
            span.checkbox__desc.placing-order__desc Доставка курьером
          label.placing-order__label.placing-order__label--checkbox
            input.checkbox.placing-order__input(type="radio" name="delivery")
            span.checkbox__desc.placing-order__desc Доставка до офиса СДЭК

        .placing-order__text-block
          p.placing-order__text Уважаемый клиент, для успешного оформления заказа, Вам необходимо произвести предоплату. После нажатия кнопки “Оформить заказ” Вам будет направлено письмо на указанный e-mail с реквизитами для оплаты.
          p.placing-order__text Если у Вас возникли трудности с оформлением заказа, позвоните нам по номеру +7 (915) 826-27-00
        a.main-btn.placing-order__btn Оформить заказ
