mixin banner()
  section.banner
    .container
      h3.banner__desc Lorem, ipsum dolor
      h2.banner__title Lorem, ipsum dolor
      h3.banner__desc Lorem, ipsum dolor
      a.banner__btn(href="#") Заказать
