.banner {
  background-image: url("https://psv4.userapi.com/c856324/u7161674/docs/d9/ebf1d2481457/banner_glavnaya_2.jpg?extra=nCVabQ7c3Z6saehN0COvUNG0e7uHQDUaEhbVW60kEgM6Uc6-2af_RpGUtTF206NLMvnx2TyklgIaNgERQiQe1-xMxcx3nI9oyZv3hYn-jTspsYjSh7xkVguxZlIN2zlbLXOUgimtqGtDUoSNAkDrk_w");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 318px;

  @include mobile {
    height: 140px;
  }
}
