.list {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 -10px;
  padding: 0;
  list-style-type: none;

  &__item {
    position: relative;
    height: 100%;
  }

  &__link {
    @include transition(color);
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;

    &:before {
      @include transition(width);
      content: "";
      display: block;
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 0;
      height: 1px;
      background-color: $color-m;
    }

    &:hover {
      color: $color-m;

      &:before {
        width: calc(100% - 20px);
      }
    }
  }

  &__input {
    width: 40px;
    height: 40px;
    cursor: pointer;

    @include tablet {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;

      .list__icon {
        margin-left: 10px;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 1px;
        background-color: #f3f3f3;
      }
    }
  }

  &__search {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0 10px;
    transform: translateY(-50%);
    border-radius: 20px;
    background: none;
    cursor: pointer;
    opacity: 0;
    @include transition(width, box-shadow, opacity)

    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: none;
      height: 100%;
      margin: 0;
      font-size: 16px;
      border: none;
      padding-left: 50px;
      transform: none;
      opacity: .2;
      border-radius: 0;
      cursor: text;
    }

    &:hover {
      box-shadow: 0 0 10px .5px rgba($color-m, 1);

      @include tablet {
        box-shadow: none;
      }
    }

    &:focus {
      z-index: 0;
      width: 700px;
      cursor: text;
      box-shadow: 0 0 10px .5px rgba($color-m, 1);
      outline: none;
      background-color: #fff;
      opacity: 1;

      @include tablet {
        box-shadow: none;
        width: auto;
      }
    }
  }

  &__sublist {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    min-width: 180px;
    margin: 0;
    padding: 40px 20px 16px 10px;
    list-style-type: none;
    background-color: #fff;
  }

  &--icons {
    .list__item {
      padding: 0 10px;
    }

    .list__link {
      @include transition(box-shadow);
      position: relative;
      border-radius: 100%;
      width: 40px;
      height: 40px;

      &:before {
        display: none;
      }

      &:hover, &.js-dots {
        box-shadow: 0 0 10px .5px rgba($color-m, 1);
        color: $color-d;
      }
    }

    .list__burger {
      margin: 0 auto;
    }

    .list__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $color-d;
    }

    .list__dot {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 1px 4px;
      transform: translate(25%, 25%);
      font-size: 12px;
      line-height: 1;
      border-radius: 100%;
      background-color: $color-m;
    }
  }

  &--header {

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      z-index: 10;
      height: calc(100% - 100px);
      margin: 0;
      padding: 20px;
      background-color: #fff;
      padding-top: 50px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: 1px;
        background-color: #f3f3f3;
      }
    }

    .list__link {
      @include tablet {
        font-weight: 900;
      }
    }

    .list__item {
      @include tablet {
        position: static;
        height: auto;
        margin: 10px -10px;
      }

    }

    .list__icon {
      display: none;
      @include tablet {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    .list__sublist {
      @include tablet {
        position: relative;
        top: 0;
        padding: 0 20px 20px;
      }

      .list__link {
        @include tablet {
          font-weight: 400;
          padding: 5px;
        }
      }
    }
  }
}
