mixin footer()
  footer.footer
    .container
      .footer__content
        .footer__col
          ul.footer__list.footer__catalog
            li.footer__item
              a.footer__link(href="#") Все товары
            li.footer__item
              a.footer__link(href="#") Sale
            li.footer__item
              a.footer__link(href="#") Волосы
            li.footer__item
              a.footer__link(href="#") Тело
            li.footer__item
              a.footer__link(href="#") Лицо
            li.footer__item
              a.footer__link(href="#") Аксессуары
        .footer__col
          ul.footer__list.footer__menu
            li.footer__item
              a.footer__link(href="#") Каталог
            li.footer__item
              a.footer__link(href="#") Личный кабинет
            li.footer__item
              a.footer__link(href="help.html") Помощь
            li.footer__item
              a.footer__link(href="contacts.html") Контакты
            li.footer__item
              a.footer__link(href="aboutUs.html") О нас

        .footer__col
          ul.footer__list.footer__social
            li.footer__item
              p.footer__link.footer__title Контакты:
            li.footer__item
              a.footer__link.footer__number(href="#") +7 (915) 826-27-00
            li.footer__item
              a.footer__link.footer__email(href="#") hairproductsdb@gmail.com
            li.footer__item.footer__grid
              a.footer__link.footer__soc-link(href="#")
                +img('icons/inst.png', 'footer__soc-icon')
              a.footer__link.footer__soc-link(href="#")
                +img('icons/vk.png', 'footer__soc-icon')
              a.footer__link.footer__soc-link(href="#")
                +img('icons/youtube.png', 'footer__soc-icon')
            li.footer__item
              a.footer__link(href="privacy.html") Политика конфиденциальности
