* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body {
  @include mobile {
    padding-top: 105px;
  }
}

.container {
  max-width: $desktop;
  padding: 0 20px;
  margin: 0 auto;

  @include tablet {
    max-width: $tablet;
    padding: 0 15px;
  }
  @include mobile {
    max-width: 100%;
    padding: 0 10px;
  }
}

html, a {
	color: $color-d;
}

img {
	max-width: 100%;
	max-height: 100%;
}

section {
	margin: 30px 0;
}

h2 {
  position: relative;
  font-size: 19px;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 35px;
  font-family: 'Montserrat', sans-serif;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-m;
  }
}
.desktop-hidden {
  display: none;
  @include tablet {
    display: block;
  }
}

.desktop-only {
  display: block;
  @include tablet {
    display: none;
  }
}

.main-btn {
  font-size: 16px;
  background-color: $color-m;
  border: none;
  padding: 8px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    background-color: darken($color-m, 10%);
  }
}

.burger {
  position: relative;
  display: block;
  width: 22px;
  height: 15px;

  &__line {
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #444444;
    transform-origin: center center;
    transition: transform .2s;

    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 6px;
      width: 90%;
    }
    &:nth-of-type(3) {
      top: 12px;
    }
  }

  &.active {
    .burger__line {
      &:nth-of-type(1) {
        top: 6px;
        transform: rotate(-45deg);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 6px;
        transform: rotate(45deg);
      }
    }
  }
}

.breadcrumbs {
  font-size: 12px;
  color: #b4b4b4;
  position: absolute;
  left: 20px;
  top: -50px;

  @include tablet {
    left: 15px;
  }

  @include mobile {
    left: 10px;
  }

  &__block {
    position: relative;
    padding-top: 30px;
  }

  &__link {
    font-size: 12px;
    color: #b4b4b4;
    text-decoration: none;
  }
}

.popup{
  &__container {
    position: relative;
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #dedede;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform-origin: center center;
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
